[fontpackage]
########################################################################
# PACKAGE METADATA #####################################################
########################################################################

name = "My Font Family" #REQUIERD: Package name (same as the postscript family name)
type = "family" #REQUIERD: Package type [family, collection]
version = "" #REQUIERD: SemVer
status = "" #REQUIERD: [BETA, ALPHA, STABLE]
authors = ["", ""] #REQUIERD: Authors of the package
license = "" #REQUIERD: https://spdx.org/licenses/
copyright = "" #REQUIERD
category = "" #REQUIERD: #serif, sans, display, monospace, script, dingbat
license-file = "" #OPTIONAL: URL to licence file or EULA
description = "" #OPTIONAL
repository = { url = "", type = "git"} #REQUIERD
homepage_url = "" #OPTIONAL
issues_url = "" #OPTIONAL
date_published = "" #OPTIONAL: Date first published
fontlog = "" #OPTIONAL: Defults to ROOT (./FONTLOG.md ./FONTLOG.txt ./CHANGELOG.txt) Defult format Markdown .md
foundry = { name = "", email = "", url = "", vendor_id = "" } #OPTIONAL:
designers = [ #OPTIONAL: Desiners from the nameID
  { name = "", email = "", url = "" },
  { name = "", email = "", url = "" },
  { name = "", email = "", url = "" } ]

private = "" #REQUIERD: Boolean, When set to true, conforming
maintenance = { status = "", comment = "" } #OPTIONAL: # `actively-developed`, `passively-maintained`, `as-is`, `experimental`, `looking-for-maintainer`, `deprecated`, and the default `none`,}
versions_provider = "" #REQUIERD: How is the font versions provided. When set to 'tags' the versions will be fetched from the git tags.

tools = "" #OPTIONAL: Details realted to font development and build. Similar to tools key in UFR METADATA.yml

########################################################################
# DISPLAY AND CLASSIFCATION DATA #######################################
########################################################################

tags = [ #OPTIONAL: Pakage specific display strings for display and testing purposes
    { style = "" }, # Blackletter, Calligraphic, Condensed, Decorative, Display, Handdrawn, Monospaced, Rounded, Sans-serif, Script, Serif, Slab, Stencil, Symbols"
    { contrast = "" },
    { width =  "" },
    { body_height =  "" },
    { intended_useage =  ""}, # large, medium, text, body, branding
    { figures =  ""},
    { languages =  "" },
    { related_fonts =  "" }, ]

display_texts = [ #OPTIONAL: Pakage specific display strings for display and testing purposes
    { en_US = ""},
    { si_LK= ""},
    { dv_IN= ""}]

# Maps to Type.World billboards
display_images = [ #OPTIONAL Display images and promotional banners
    { banner = ""},
    { small= ""},
    { thumbnail= ""},
    { medium = ""},
    { small= ""},
    { large = ""} ]


links = [ #OPTIONAL: External links and release channels
    { font_in_use = "" },
    { googlefonts = "" },
    { fontlibrary_org = "" },
    { typekit = "" } ]

########################################################################
# FONT BINARIES AND METADATA ###########################################
########################################################################

[[fonts]]
name = "" #REQUIERD
path = "" #OPTIONAL DEFUALTS to ./fonts/otf .fonts
style = "" #REQUIERD
weight = "" #REQUIERD
full_name = "" #OPTIONAL
preview_image = "" #OPTIONAL
protected = "" #OPTIONAL
purpose = "" #OPTIONAL
variable_font = "" #OPTIONAL
format = "" #REQUIERD
free = "" #REQUIERD

[[fonts]]
# ...

########################################################################
# APP OR PLATFOROM SPECIFIC CONFIGS AND DATA ###########################
########################################################################

# Additional metadata and configuration for Type.World protocol
[fontpackage.typeworld]
foundry = [
    { name = "" },
    { description = "" },
    { url = "" },
    { email = "" },
    { backgroundColor = "" },
    { support_email = "" },
    { skype = "" },
    { twitter = "" },
    { facebook = "" },
    { instagram = "" }]

# Additional metadata to generate NPM packages
[fontpackage.npm]
# …

# Additional metadata to generate Appstram metadata files
[fontpackage.appstream]
# …
